head
  title= title
  meta(name="description" content=description)
  link(id="favicon" rel="icon" href="https://s3.amazonaws.com/hyperweb-editor-assets/us-east-1%3A71bc4e4c-4845-48d7-ba7a-4171a4177b55%2Ffavicon.ico" type="image/x-icon")
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="stylesheet" href="/index.css")

  // facebook open graph tags
  meta(property="og:type" content="website")
  meta(property="og:url" content=url)
  meta(property="og:title" content=title)
  meta(property="og:description" content=description)
  meta(property="og:image" content=frog2x)
  
  // twitter card tags (stack with og: tags)
  meta(name="twitter:card" content="summary")
  meta(name="twitter:site" content="@pketh")
  meta(name="twitter:title" content=title)
  meta(name="twitter:description" content=description)
  meta(name="twitter:image" content=frog2x)
  meta(name="twitter:image:alt" content="A frog with feelings")
  meta(name="twitter:url" content=url)
